# Database Connection
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@cluster.mongodb.net/skillhub?retryWrites=true&w=majority

# Admin Credentials (Optional)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
